<!DOCTYPE html>
<html lang="en">
<% include ../layouts/HeadLayout %>
<body>
  <% include ../layouts/HeaderLayout %>

  <section id="UpdateProfileView" class="about-us">
    <div v-cloak class="container">

      <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
          <% include ./MenuView %>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="about-us-content">
            <h1 class="member-title">Ubah Profile</h1>

            <div class="paper">

              <ui-alert :data-source="result.data"
              :display="result.state == 'invalid'"
              @close="result.state = ''">
                {{ result.message }}
              </ui-alert>

              <div class="row form-table">
                <div class="col-md-6">
                  <ui-textbox v-model="form.email">Email</ui-textbox>
                  <ui-textbox v-model="form.firstName">Nama Depan</ui-textbox>
                  <ui-textbox v-model="form.lastName">Nama Belakang</ui-textbox>

                  <label>Tanggal Lahir</label>
                  <ui-datepicker v-model="form.birthDate"></ui-datepicker>

                  <br>
                  <ui-radio v-model="form.gender" :data-source="rsGender">Jenis Kelamin</ui-radio>
                  <ui-textbox v-model="form.phoneNumber">No. Telepon</ui-textbox>
                </div>

                <div class="col-md-6">
                  <ui-textbox v-model="form.address">Alamat</ui-textbox>

                  <ui-select v-model="form.province"
                  placeholder="-------- Pilih Provinsi --------"
                  :data-source="rsProvince"
                  data-field="province"
                  data-value="province">Provinsi</ui-select>

                  <ui-select v-model="form.city"
                  :disabled="!form.province"
                  placeholder="-------- Pilih Kota --------"
                  :data-source="rsCity"
                  data-field="city"
                  data-value="city">Kota</ui-select>

                  <ui-select v-model="form.district"
                  :disabled="!form.city"
                  placeholder="-------- Pilih Kecamatan --------"
                  :data-source="rsDistrict"
                  data-field="district"
                  data-value="district">Kecamatan</ui-select>

                  <ui-textbox v-model="form.postalCode">Kode Pos</ui-textbox>
                </div>
              </div>

              <div class="button-group">
                <div class="row">
                  <div class="col-md-12">
                    <ui-button href="/member/profile" bs-type="danger">Kembali</ui-button>
                    <ui-button @click="submit" :loading="loading">Simpan</ui-button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <script>
    /******************
    <id="Vue">
    ******************/
    var UpdateProfileView = new Vue({
      el: '#UpdateProfileView',

      /******************
      <id="_data">
      ******************/
      data: {
        session: {
          email: '<%= session.email?session.email:"" %>',
          authKey: '<%= session.authKey?session.authKey:"" %>',
          type: 'member',
        },

        result: {
          state: '',
          message: '',
          data: {},
        },

        loading: false,

        rsGender: [
          { id: 'Laki-laki' },
          { id: 'Perempuan' },
        ],
        rsProvince: <%- JSON.stringify(rsRegional) %>,

        form: {
          province: '',
          city: '',
          district: '',
          ...<%- JSON.stringify(rowMember) %>,
        },
      },

      /******************
      <id="_computed">
      ******************/
      computed: {

        /******************
        <id="_rsCity">
        ******************/
        rsCity: function () {

          var rowProvince = this.rsProvince.filter(row => {
            return row.province == this.form.province;
          });

          if (rowProvince.length >= 1)
            return rowProvince[0].cities;
          else
            return [];
        },

        /******************
        <id="_rsDistrict">
        ******************/
        rsDistrict: function () {

          var rowCity = this.rsCity.filter(row => {
            return row.city == this.form.city;
          });

          if (rowCity.length >= 1)
            return rowCity[0].districts;
          else
            return [];
        },

      },

      /******************
      <id="_mounted">
      ******************/
      mounted: function () {
        this.form.birthDate = '<%= rowMember.birthDate__ %>';
      },

      /******************
      <id="_methods">
      ******************/
      methods: {

        /******************
        <id="_submit">
        ******************/
        submit: function () {
          this.loading = true;

          var url = '/api/account';
          var data = this.form;

          axios.put(url, data).then(function (response) {

            if (response.data.state == 'success')
              window.location = '/member/profile';

            this.result = response.data;
            this.loading = false;
          }.bind(this));
        },

      },
    });
  </script>

  <% include ../layouts/FooterLayout %>
  <% include ../layouts/FootLayout %>
</body>
</html>
