<!DOCTYPE html>
<html lang="en">
<% include ../layouts/HeadLayout %>
<body>
  <% include ../layouts/HeaderLayout %>

  <div class="wrap-banner single-slider">
    <% rsBanner.forEach(row => { %>
      <div>
        <div class="banner-homepage">
          <img src="<%= row.image_ %>" class="img-fluid" />

          <% if (row.url) { %>
            <!-- <div class="banner-caption">
              <a href="<%= row.url %>" class="btn btn-secondary btn-red-border">
                Read More
              </a>
            </div> -->
          <% } %>

        </div>
      </div>
    <% }); %>
  </div>
  <br>&nbsp;

  <section class="featured-product">
    <div class="container-fluid">
      <div class="wrap-featured-product-content">
        <div class="row">

          <% rsMainCategory.forEach(row => { %>
            <div class="col-sm-6 col-md-6 col-lg-3 no-pad-right no-pad-left">
              <div class="featured-product-content">
                <div class="featured-product-img">

                  <% if (row.image) { %>
                    <img src="<%= row.image_ %>">
                  <% } %>

                  <div class="hover-featured-product">
                    <a href="<%= row.permalink %>">Shop Now!</a>
                  </div>
                </div>
                <div class="featured-product-desc">
                  <p><%= row.title %></p>
                  <span><%= row.description %></span>
                </div>
              </div>
            </div>
          <% }); %>

        </div>
      </div>
    </div>
  </section>

  <section class="new-product">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-sm-3 col-md-2">
              <h1>Produk <br> Baru</h1>
            </div>
            <div class="col-sm-3">
              <div class="wrap-vertical-align">
                <div class="vertical-align vertical-bottom">
                  <div class="product-button">
                    <button class="btn-prev-product-new"><i class="icon arrow-left"></i></button>
                    <button class="btn-next-product-new"><i class="icon arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-new">

            <% rsNewProduct.forEach(row => { %>
              <div>
                <div class="product-thumb">
                  <a href="<%= row.permalink %>">
                    <img src="<%= row.featuredImage_ %>">
                  </a>
                </div>
                <span class="badge-dark-red">New</span>
                <ul class="rating">
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li class="score-rating">(5)</li>
                </ul>
                <div class="product-name">
                  <a href="<%= row.permalink %>">
                    <%= row.productName %>
                  </a>
                </div>
                <div class="price"><%= row.price_ %></div>
              </div>
            <% }); %>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="best-sellers-product">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-sm-3 col-md-2">
              <h1>Best <br> Sellers</h1>
            </div>
            <div class="col-sm-3">
              <div class="wrap-vertical-align">
                <div class="vertical-align vertical-bottom">
                  <div class="product-button">
                    <button class="btn-prev-product-best-seller"><i class="icon arrow-left"></i></button>
                    <button class="btn-next-product-best-seller"><i class="icon arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-best-seller">
            <% rsBestSeller.forEach(row => { %>
              <div>
                <div class="product-thumb">
                  <a href="<%= row.permalink %>">
                    <img src="<%= row.featuredImage_ %>">
                  </a>
                </div>
                <span class="badge-dark-red">Best Seller</span>
                <ul class="rating">
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li class="score-rating">(5)</li>
                </ul>
                <div class="product-name">
                  <a href="<%= row.permalink %>">
                    <%= row.productName %>
                  </a>
                </div>
                <div class="price"><%= row.price_ %></div>
              </div>
            <% }); %>
          </div>

        </div>
      </div>
    </div>
  </section>

  <% include ../layouts/FooterLayout %>
  <% include ../layouts/FootLayout %>

</body>
</html>
